* {
box-sizing: border-box;
}

body {
margin: 0px;
font-family: 'segoe ui';
}  
.container2{
    box-shadow: 0 0 750px #000;
    text-align: center;
    width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}

/* Welcome Section */
.Welcome {
	background-color: #181d24;
	padding-top: 150px;
	padding-bottom: 150px;
}
.light {
	font-weight: bold;
	color: #5192ee;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #222a35;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: #3a4452;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #33a1bd;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.banner {
	background-color: #1c4f8d;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
    box-shadow: 0 0 750px #000;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #272e38;
	text-align: center;
}
footer .footer_column p {
	color: #272e38;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(255, 255, 255);
	color: #1e2b3b;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
    box-shadow: 0 0 750px #000;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #1e2b3b;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.Welcome_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
 
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}


/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 
/* NavBar CSS */ 


.nav {
    height: 50px;
    width: 100%;
    background-color: #242d3a;
    background-color: white;
    position: relative;
    box-shadow: 0 0px 25px #000;
}

.nav > .nav-header {
    display: inline;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
}
.nav-title::first-letter{
    color: rgb(0, 110, 255);
} 

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    margin-left: 15px;
    color: black;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}
@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 
/* SignUp/SignIn CSS */ 


* {
    box-sizing: border-box;
}

#goToSignUp{
    text-decoration: underline
}

#goToSignUp:hover{
    cursor:pointer;
}

#goToSignIn{
    text-decoration: underline
}

#goToSignIn:hover{
    cursor:pointer;
}

html {
height: 100%;
}

body {
background-color: #272e38;
color: #7e8ba3; 
}

input {
color: #7887a1; 
height: 50px;
font: inherit;
border: 1.5px solid #424e5f;
border-radius: 50px;
background-color: transparent;
text-align: center;
margin-bottom: 15px;
width: 100%;
}

input:hover, input:focus{
border: 1.5px solid #367e94;
outline: none;
}

input::placeholder {
color: #7e8ba3;
}


.grid {
margin: 0 auto;
max-width: 450px;
width: 100%;
}



h2 {
font-size: 2.75rem;
font-weight: 10;
margin-bottom: 30px ;
margin-top: 10px ;
text-transform: uppercase;
}

a {
color: #7e8ba3;
}

.container {
box-shadow: 0 0 250px #000;
text-align: center;
padding: 85px 30px;
border-radius: 20px;
} 

.container-button {
background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
color: #fff;
border-radius: 50px;
margin-bottom: 15px;
width: 100%;
border: 0;
height: 50px;
font: inherit;
}
.container-button:hover {
background-image: linear-gradient(160deg, #b0ebcd 0%, #53ad98 100%);
}


/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 
/* ShopList CSS */ 

table{ 
    box-shadow: 0 0 250px #000;
    border-collapse: collapse;
    margin: auto;
    margin-top: 7px;
    width: 75%;
} 
#ShopListTable{
    margin-top: 70px;  /* 
    position: absolute;
    right: 50px;   */
}
#totalPriceTable{
    box-shadow: 0 0 20px #000; 
    margin-left: 60%;
    margin-bottom: 50px;
    width: 250px;
}
th, td {
    background-color: white;
    border: 1.5px solid #0c1014;
    text-align: center;    
    color: #272e38; 
    } 
th{
    background-color: #272e38;
    color: white;
    height: 60px;
} 
#totalPriceTable td{
    height: 50px;
    border: 0px solid #0c1014; 
    color: #272e38;
    background-color: #ffffff;
}
.quantityTd{
    width: 75px; 
    }
.imgTd{
    width: 25%; 
    }
.imgImg{
    height: 100px;
}
.productTd{
    width: 28%; 
}
.actionsTd{
    width: 5%;
}
.priceTd{
    width: 20%;
}
.quantityInput{ 
    border-radius: 15px;
    width:75px;
    height:40px; 
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-appearance: textfield;
    color: #272e38;  
    font: inherit;
    border: 1.5px solid #0c1014; 
    background-color: transparent;
    text-align: center; 
}
.removeItemBtn{
    color: white;
    background-color: #424e5f;
    border: 0px solid black;;
    border-radius: 15px;
    width:35px;
    height:35px;
}  
.removeItemBtn:hover{
    background-color: #2b333f;
}


#startShoppingBtn{
	background-color: #2D9AB7; /* Green */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none; 
	font-size: 18px;
	margin-top: 14px;
	cursor: pointer;
}

/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/
/* Products List CSS*/

#startShoppingBtn:hover{
	background-color: #39afcf;
}
#productsList{
	text-align: center;
	margin-top: 80px;
}
.productCard{
	background-color: white;
	box-shadow: 0 0 30px #000;
	text-align: center;
	border-radius: 5px;
	width: 350px;
	height: 340px;
	display: inline-block;
	margin : auto;
	margin-left: 10px;
	margin-bottom: 10px;
}
.productCard > h1{
	font-size: 30px;
	padding: 2px 15px;
	color: rgb(17, 24, 34);
} 
.descriptionH2{
	display: inline-block;
	width: 50%;
	height: 130px;
	overflow: auto;
	margin:0;
	font-size: 15px;
	color: rgb(6, 10, 15);
}
.priceH2{
	margin-left: 25px;
	margin-top: 5px;
	text-align: start;
	font-size: 20px;
	display: inline-block;
	color: rgb(0, 128, 32);
}
.productCard img{
	display: inline-block;
	width: 100px; 
	height: 130px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 15px;  
}
.rowPriceBtns{
	margin-top: 25px; 
}
.detailsBtn{
	margin-left: 15px;  
	background-color: #505050; /* Green */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none; 
	font-size: 13px;
	margin-top: 5px;
	cursor: pointer;
}
.detailsBtn:hover{
	background-color: #868686; /* Green */
}
.addToCartBtn{
	margin-left: 10px;  
	background-color: #44b72d; /* Green */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none; 
	font-size: 13px;
	margin-top: 5px;
	cursor: pointer;
}
.addToCartBtn:hover{
	background-color: #65d84e; /* Green */
}

/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/
/* selectedProduct Modal CSS*/

.modal {
	font-family: 'segoe ui';
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	text-align: center;
	background-color: #fefefe; 
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
}

/* The Close Button */
#modalClose {
	color: #494949;
	float: right;
	font-size: 28px; 
}

#modalClose:hover{
	color: #9b9b9b; 
	cursor: pointer;
}
#modalClose :focus {
	color: #000; 
	cursor: pointer;
}
.modal-Img{
	display: inline-block;
	height: 200px;  
	margin: 30px; 
}
.modal-Description{
	font-family: 'segoe ui';
	font-weight: normal; 
	width: 70%; 
	text-align: center;
	overflow: auto;
	margin: auto;
	font-size: 15px;
	color: rgb(6, 10, 15);
}
.modal-ProductName{
	font-family: 'segoe ui';
	font-weight: normal;
	font-size: 30px; 
	color: rgb(17, 24, 34);
}
.modal-Price{
	font-family: 'segoe ui';
	font-weight: normal;
	font-size: 30px;
	margin-top: 25px;
	color: rgb(17, 24, 34);
} 
.modal-content hr{
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}